* {
    margin: 0;
    padding: 0;
    background-color: #96616b
}

.header {
    background-color: #443742;
    height: 40%;
}

#headertext {
    font-size: xx-large; 
    font-weight: bolder;
    color: #bbc7a4;
    background-color: #443742;
    margin-left: 550%;
    margin-top: 20%;
}

.info {
    background-color: #bbc7a4;
}

#infotext {
    background-color: #bbc7a4;
}

.title {
    font-size: xx-large; 
    font-weight: bolder;
    color: #000;
    margin-top: 5%;
    background-color: #bbc7a4;
}

#slogan h3 {
    text-align: center;
    color: #bbc7a4;
    background-color: #443742;
}

.text {
    font-size: larger;
    font-weight: bold;
    color: #000;
    background-color: #bbc7a4;
}

.gallery {
    margin-top: 10%;
}

#picture1 {
    height: auto;
    width: 100%;
    max-width: 300px;
    transition: transform 0.5s ease-in-out;
    margin-left: 50%;
    border: 5% solid;
    border-radius: 10%;
    border-style: inherit;
    margin-left: 25%;
    margin-top: 50%;
}

#picture2 {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-left: 35%;
    transition: transform 0.5s ease-in-out;
    margin-left: 10%;
    border: 5% solid;
    border-radius: 10%;
    border-style: inherit;
}

#picture3 {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-left: 35%;
    transition: transform 0.5s ease-in-out;
    margin-left: 10%;
    border: 5% solid;
    border-radius: 10%;
    border-style: inherit;
}

#picture1:hover {
    transition: 0.70s;
    transform: scale(1.1);
    box-shadow: 0 19% 38% rgba(0,0,0,0.30), 0 15% 12% rgba(0,0,0,0.22);
}

#picture2:hover {
    box-shadow: 0 19% 38% rgba(0,0,0,0.30), 0 15% 12% rgba(0,0,0,0.22);
    transition: 0.70s;
    transform: scale(1.1)
}

#picture3:hover {
    box-shadow: 0 19% 38% rgba(0,0,0,0.30), 0 15% 12% rgba(0,0,0,0.22); 
    transition: 0.70s;
    transform: scale(1.1);
}

.tips {
    margin-top: 50%;
    background-color: #bbc7a4;
}

.footer {
    background-color: #443742;
    height: 50%; 
}

#footertext {
    color: #fff;
    background-color: #443742;
}

.list {
    font-size: x-large;
    font-weight: bold;
    color: #000;
    margin-left: 25%;
    background-color: #a6d3a0;
    height: 160%;
}

.listitem {
    background-color: #a6d3a0;
}